<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.piyal.classrutine">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".IndexPage"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".otherActivity.Controller" />
        <activity android:name=".register.Createpasswordpage" />
        <activity android:name=".otherActivity.RutineViewActivity" />
        <activity android:name=".WelcomePage" />
        <activity android:name=".otherActivity.RegisterPanel"
           android:theme="@style/Theme.AppCompat.Holo.NoActionBar.FullScreen"/>
        <activity android:name=".otherActivity.Home" />
        <activity android:name=".otherActivity.Testing" />
        <activity android:name=".otherActivity.OnlineRutineViewActivity" />
        <activity android:name=".otherActivity.MainPage" />
        <activity android:name=".otherActivity.AllSchedule"></activity>
    </application>

</manifest>